html{
    background: url("../assets/beach.png") no-repeat center fixed;
    background-size: cover;
}


.hej {
    width: 100%;
    height: 100%
}

.box {
    width: 100%;
    height: 1000px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    background-image: url(https://images.aftonbladet-cdn.se/v2/images/f21976de-05b9-4fdc-a42d-afc994b3c0d6?fit=crop&format=auto&h=1267&q=50&w=1900&s=1995fc6ff53a0c5626950fcf09acf4fbc3e1b6a4);
    color: white
    }
.placeholder {
    width: 100%;
    height: 1000px;
    background-color: turquoise;
    color: black;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: flex;
    color: white

}
.placeholder2 {
    width: 100%;
    height: 1000px;
    background-color: rgb(223, 38, 195);
    color: black;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: flex;
    color: white

}
.revealUp{
    opacity: 0;
    visibility: hidden;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

h1.home {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}